.card{
    margin-left: 10vh;
  }
  img{
    height: 100.5%;
    width: 100%;
    position: relative;
  }
  #fp{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    padding-top: 4vh;
    padding-left: 4vh;
  }
  #sp{
    font-family: 'Montserrat';
    font-size: 25px;
    padding-top: 4vh;
    padding-left: 4vh;
  }
  h1{
    font-family: 'Montserrat';
    font-weight: 700;
    padding-top: 4vh;
    padding-left: 4vh;
  }
  button{
    background-color: rgba(0,203,138,0.66);
    position: relative;
    margin: 5vh;
  }
  .card{
    max-width: 1024px;
  }