#Opening{
    background-image: url(../images/paisaje-lago_bosque.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box{
    height: 100vh;
    width: 60vh;
    margin: auto
  }

  #form_openAcount{
    background-color: rgba(255, 255, 255, 0.6);
    height: 65vh;
    border-radius: 20px;
    width: 60vh;
    margin-left: 20vh;
    margin-top: 15vh;
  }

  #form_backgroundOpenAcount{
    height: 90vh;
    width: 100vh;
  }

  button{
    background-color: #090d4d;
    font-weight: 600;  
    width: 30vh;
    left: 15vh;
  }
  
  a{
      color: #127123;
      text-decoration: underline;
      
  }

  .row{
    font-family: 'Montserrat';
  }

  input{
    border-radius: 6px;
    text-indent: 5%;
    padding-bottom: 0.3em;
    font-size: 18px;
    font-weight: 350; 
    width: 44vh;
    height: 8vh;
    
  }
  
  .form-check-input{
    width: 2.3vh;
    height: 2.3vh;
  }

  h1{
      color: white;
      font-weight: 700;
      font-size: 50px;
      margin-top: 40vh;
  }

  h2{
      opacity: 1.0;
      color: #47525E;
      font-weight: 700;
      font-size: 35px;
  }

  h5{
      color: white;
      font-weight: 700;
      margin-left: 17vh;
  }

  h6{
      font-size: small;
      text-align: unset;
      
  }

  .form-check{
    left: 10vh;
  }

  