#body{
    font-family: 'Montserrat';
}

h2{
    color: #35A7C3;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top:5px;
}
  
label {
    padding: 12px 12px 0px 0;
    display: inline-block;
    color: gray;
    font-weight: bold;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: #c4d123;
}
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px 20px 20px 20px;
}
  
.col-25 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding-left:20px;
}
  
.col-75 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 0px 20px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.span_ob {
    font-size: 12px;
    color: #35A7C3;
}
  
@media screen and (max-width: 600px) {
    #id{
      width: 100%;
      margin-top: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){
    #id{
      width: 90%;
      margin-top: 0;
    }
}