#step4{
    font-family: 'Montserrat';
}

button{
    background-color: #090d4d;
    font-weight: 600;  
}

.container{
    border : rgba(0, 203, 138,0.66) 1.5px solid;
}

h2{
    font-weight: bold;
}

.firstWords{
    color : #00CB8A;
}

h5{
    font-weight: 600;
}

button{
    margin-bottom: 8%;
}