form-wizard{
    color: rgba(0,203,138,0.66);
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.inputs{
    width: 40%
}

.tab2{
    margin: auto;
}

#form2{
    margin-left: 28%;
}

#IngDatos{
    color: #35A7C3;
}

#container {
    position: relative;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}